
*:focus {
    outline: none;
}

@font-face {
    font-family: 'YueHei';
    src: url('http://54.223.65.44:8100/static/file/font/MFYueHei-light.woff') format('woff');
}

html, body, #app {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}
