
*:focus {
    outline: none;
}

@font-face {
    font-family: 'YueHei';
    src: url('http://54.223.65.44:8100/static/file/font/MFYueHei-light.woff') format('woff');
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%
}